--
-- PostgreSQL database dump
--

\restrict ONN2L0K0iZgy0rx9iklPK0LGGtihZT7FDYox2ORDGlqDlZM9nNUSfgVqj3wYQeP

-- Dumped from database version 17.6 (Debian 17.6-2.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-2.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.tags_v2 DROP CONSTRAINT IF EXISTS fk_tags_v2_user_id_users;
ALTER TABLE IF EXISTS ONLY public.tags_v2 DROP CONSTRAINT IF EXISTS fk_tags_v2_archived_by_users;
ALTER TABLE IF EXISTS ONLY public.stress_test_results DROP CONSTRAINT IF EXISTS fk_stress_test_results_scenario_id_stress_test_scenarios;
ALTER TABLE IF EXISTS ONLY public.stress_test_results DROP CONSTRAINT IF EXISTS fk_stress_test_results_portfolio_id_portfolios;
ALTER TABLE IF EXISTS ONLY public.positions DROP CONSTRAINT IF EXISTS fk_positions_portfolio_id_portfolios;
ALTER TABLE IF EXISTS ONLY public.position_volatility DROP CONSTRAINT IF EXISTS fk_position_volatility_position_id_positions;
ALTER TABLE IF EXISTS ONLY public.position_tags DROP CONSTRAINT IF EXISTS fk_position_tags_tag_id_tags_v2;
ALTER TABLE IF EXISTS ONLY public.position_tags DROP CONSTRAINT IF EXISTS fk_position_tags_position_id_positions;
ALTER TABLE IF EXISTS ONLY public.position_tags DROP CONSTRAINT IF EXISTS fk_position_tags_assigned_by_users;
ALTER TABLE IF EXISTS ONLY public.position_realized_events DROP CONSTRAINT IF EXISTS fk_position_realized_events_position_id_positions;
ALTER TABLE IF EXISTS ONLY public.position_realized_events DROP CONSTRAINT IF EXISTS fk_position_realized_events_portfolio_id_portfolios;
ALTER TABLE IF EXISTS ONLY public.position_market_betas DROP CONSTRAINT IF EXISTS fk_position_market_betas_position_id_positions;
ALTER TABLE IF EXISTS ONLY public.position_market_betas DROP CONSTRAINT IF EXISTS fk_position_market_betas_portfolio_id_portfolios;
ALTER TABLE IF EXISTS ONLY public.position_interest_rate_betas DROP CONSTRAINT IF EXISTS fk_position_interest_rate_betas_position_id_positions;
ALTER TABLE IF EXISTS ONLY public.position_interest_rate_betas DROP CONSTRAINT IF EXISTS fk_position_interest_rate_betas_portfolio_id_portfolios;
ALTER TABLE IF EXISTS ONLY public.position_greeks DROP CONSTRAINT IF EXISTS fk_position_greeks_position_id_positions;
ALTER TABLE IF EXISTS ONLY public.position_factor_exposures DROP CONSTRAINT IF EXISTS fk_position_factor_exposures_position_id_positions;
ALTER TABLE IF EXISTS ONLY public.position_factor_exposures DROP CONSTRAINT IF EXISTS fk_position_factor_exposures_factor_id_factor_definitions;
ALTER TABLE IF EXISTS ONLY public.portfolios DROP CONSTRAINT IF EXISTS fk_portfolios_user_id_users;
ALTER TABLE IF EXISTS ONLY public.portfolio_target_prices DROP CONSTRAINT IF EXISTS fk_portfolio_target_prices_position_id_positions;
ALTER TABLE IF EXISTS ONLY public.portfolio_target_prices DROP CONSTRAINT IF EXISTS fk_portfolio_target_prices_portfolio_id_portfolios;
ALTER TABLE IF EXISTS ONLY public.portfolio_target_prices DROP CONSTRAINT IF EXISTS fk_portfolio_target_prices_created_by_users;
ALTER TABLE IF EXISTS ONLY public.portfolio_snapshots DROP CONSTRAINT IF EXISTS fk_portfolio_snapshots_portfolio_id_portfolios;
ALTER TABLE IF EXISTS ONLY public.pairwise_correlations DROP CONSTRAINT IF EXISTS fk_pairwise_correlations_correlation_calculation_id_cor_fe6e;
ALTER TABLE IF EXISTS ONLY public.modeling_session_snapshots DROP CONSTRAINT IF EXISTS fk_modeling_session_snapshots_user_id_users;
ALTER TABLE IF EXISTS ONLY public.market_risk_scenarios DROP CONSTRAINT IF EXISTS fk_market_risk_scenarios_portfolio_id_portfolios;
ALTER TABLE IF EXISTS ONLY public.factor_exposures DROP CONSTRAINT IF EXISTS fk_factor_exposures_portfolio_id_portfolios;
ALTER TABLE IF EXISTS ONLY public.factor_exposures DROP CONSTRAINT IF EXISTS fk_factor_exposures_factor_id_factor_definitions;
ALTER TABLE IF EXISTS ONLY public.factor_correlations DROP CONSTRAINT IF EXISTS fk_factor_correlations_factor_2_id_factor_definitions;
ALTER TABLE IF EXISTS ONLY public.factor_correlations DROP CONSTRAINT IF EXISTS fk_factor_correlations_factor_1_id_factor_definitions;
ALTER TABLE IF EXISTS ONLY public.export_history DROP CONSTRAINT IF EXISTS fk_export_history_user_id_users;
ALTER TABLE IF EXISTS ONLY public.correlation_clusters DROP CONSTRAINT IF EXISTS fk_correlation_clusters_correlation_calculation_id_corr_40a6;
ALTER TABLE IF EXISTS ONLY public.correlation_cluster_positions DROP CONSTRAINT IF EXISTS fk_correlation_cluster_positions_position_id_positions;
ALTER TABLE IF EXISTS ONLY public.correlation_cluster_positions DROP CONSTRAINT IF EXISTS fk_correlation_cluster_positions_cluster_id_correlation_1482;
ALTER TABLE IF EXISTS ONLY public.correlation_calculations DROP CONSTRAINT IF EXISTS fk_correlation_calculations_portfolio_id_portfolios;
ALTER TABLE IF EXISTS ONLY public.ai_insights DROP CONSTRAINT IF EXISTS fk_ai_insights_portfolio_id_portfolios;
ALTER TABLE IF EXISTS ONLY public.ai_insights DROP CONSTRAINT IF EXISTS fk_ai_insights_cache_source_id_ai_insights;
ALTER TABLE IF EXISTS ONLY public.agent_messages DROP CONSTRAINT IF EXISTS fk_agent_messages_conversation_id_agent_conversations;
DROP INDEX IF EXISTS public.ix_users_email;
DROP INDEX IF EXISTS public.ix_target_prices_updated_at;
DROP INDEX IF EXISTS public.ix_target_prices_symbol;
DROP INDEX IF EXISTS public.ix_target_prices_position_id;
DROP INDEX IF EXISTS public.ix_target_prices_portfolio_id;
DROP INDEX IF EXISTS public.ix_positions_symbol;
DROP INDEX IF EXISTS public.ix_positions_portfolio_id;
DROP INDEX IF EXISTS public.ix_positions_investment_class;
DROP INDEX IF EXISTS public.ix_positions_inv_class_subtype;
DROP INDEX IF EXISTS public.ix_positions_exit_date;
DROP INDEX IF EXISTS public.ix_positions_deleted_at;
DROP INDEX IF EXISTS public.ix_position_volatility_position_id;
DROP INDEX IF EXISTS public.ix_position_volatility_lookup;
DROP INDEX IF EXISTS public.ix_position_volatility_calculation_date;
DROP INDEX IF EXISTS public.ix_position_tags_tag_id;
DROP INDEX IF EXISTS public.ix_position_tags_position_id;
DROP INDEX IF EXISTS public.ix_position_tags_assigned_at;
DROP INDEX IF EXISTS public.ix_position_realized_events_position_id;
DROP INDEX IF EXISTS public.ix_position_realized_events_portfolio_date;
DROP INDEX IF EXISTS public.ix_position_greeks_position_id;
DROP INDEX IF EXISTS public.ix_position_greeks_calculation_date;
DROP INDEX IF EXISTS public.ix_portfolios_user_id;
DROP INDEX IF EXISTS public.ix_portfolios_deleted_at;
DROP INDEX IF EXISTS public.ix_portfolio_snapshots_snapshot_date;
DROP INDEX IF EXISTS public.ix_portfolio_snapshots_portfolio_id;
DROP INDEX IF EXISTS public.ix_modeling_session_snapshots_session_id;
DROP INDEX IF EXISTS public.ix_market_data_cache_symbol;
DROP INDEX IF EXISTS public.ix_market_data_cache_date;
DROP INDEX IF EXISTS public.ix_income_statements_symbol;
DROP INDEX IF EXISTS public.ix_income_statements_period_date;
DROP INDEX IF EXISTS public.ix_fund_holdings_last_updated;
DROP INDEX IF EXISTS public.ix_fund_holdings_holding_symbol;
DROP INDEX IF EXISTS public.ix_fund_holdings_fund_symbol;
DROP INDEX IF EXISTS public.ix_fund_holdings_fund_date;
DROP INDEX IF EXISTS public.ix_fund_holdings_data_source;
DROP INDEX IF EXISTS public.ix_factor_exposures_portfolio_id_factor_id;
DROP INDEX IF EXISTS public.ix_factor_exposures_calculation_date;
DROP INDEX IF EXISTS public.ix_export_history_user_id;
DROP INDEX IF EXISTS public.ix_company_profiles_symbol;
DROP INDEX IF EXISTS public.ix_cash_flows_symbol;
DROP INDEX IF EXISTS public.ix_cash_flows_period_date;
DROP INDEX IF EXISTS public.ix_batch_jobs_status;
DROP INDEX IF EXISTS public.ix_batch_jobs_started_at;
DROP INDEX IF EXISTS public.ix_batch_jobs_job_type;
DROP INDEX IF EXISTS public.ix_batch_job_schedules_next_run_at;
DROP INDEX IF EXISTS public.ix_batch_job_schedules_is_active;
DROP INDEX IF EXISTS public.ix_balance_sheets_symbol;
DROP INDEX IF EXISTS public.ix_balance_sheets_period_date;
DROP INDEX IF EXISTS public.ix_ai_templates_version;
DROP INDEX IF EXISTS public.ix_ai_templates_type_active;
DROP INDEX IF EXISTS public.ix_ai_insights_type_severity;
DROP INDEX IF EXISTS public.ix_ai_insights_portfolio_id;
DROP INDEX IF EXISTS public.ix_ai_insights_portfolio_created;
DROP INDEX IF EXISTS public.ix_ai_insights_insight_type;
DROP INDEX IF EXISTS public.ix_ai_insights_created_at;
DROP INDEX IF EXISTS public.ix_ai_insights_cache_lookup;
DROP INDEX IF EXISTS public.ix_ai_insights_cache_key;
DROP INDEX IF EXISTS public.ix_ai_insight_templates_insight_type;
DROP INDEX IF EXISTS public.idx_stress_scenarios_severity;
DROP INDEX IF EXISTS public.idx_stress_scenarios_category;
DROP INDEX IF EXISTS public.idx_stress_scenarios_active;
DROP INDEX IF EXISTS public.idx_stress_results_scenario;
DROP INDEX IF EXISTS public.idx_stress_results_portfolio_date;
DROP INDEX IF EXISTS public.idx_stress_results_calculation_date;
DROP INDEX IF EXISTS public.idx_position_portfolio_active;
DROP INDEX IF EXISTS public.idx_pos_beta_position;
DROP INDEX IF EXISTS public.idx_pos_beta_lookup;
DROP INDEX IF EXISTS public.idx_pos_beta_created;
DROP INDEX IF EXISTS public.idx_pfe_position_date;
DROP INDEX IF EXISTS public.idx_pfe_factor_date;
DROP INDEX IF EXISTS public.idx_pfe_calculation_date;
DROP INDEX IF EXISTS public.idx_pairwise_correlations_calculation_symbols;
DROP INDEX IF EXISTS public.idx_pairwise_correlations_calculation;
DROP INDEX IF EXISTS public.idx_market_risk_scenario_type;
DROP INDEX IF EXISTS public.idx_market_risk_portfolio_date;
DROP INDEX IF EXISTS public.idx_ir_betas_position_date;
DROP INDEX IF EXISTS public.idx_ir_betas_portfolio_date;
DROP INDEX IF EXISTS public.idx_factor_correlations_factors;
DROP INDEX IF EXISTS public.idx_factor_correlations_date;
DROP INDEX IF EXISTS public.idx_correlation_clusters_calculation;
DROP INDEX IF EXISTS public.idx_correlation_calculations_portfolio_date;
DROP INDEX IF EXISTS public.idx_cluster_positions_position;
DROP INDEX IF EXISTS public.idx_cluster_positions_cluster;
DROP INDEX IF EXISTS public.idx_benchmark_sector;
DROP INDEX IF EXISTS public.idx_benchmark_lookup;
DROP INDEX IF EXISTS public.idx_batch_run_date;
DROP INDEX IF EXISTS public.idx_agent_user_preferences_user_id;
DROP INDEX IF EXISTS public.idx_agent_messages_created_at;
DROP INDEX IF EXISTS public.idx_agent_messages_conversation_id;
DROP INDEX IF EXISTS public.idx_agent_conversations_user_id;
DROP INDEX IF EXISTS public.idx_agent_conversations_provider_thread_id;
DROP INDEX IF EXISTS public.idx_agent_conversations_created_at;
DROP INDEX IF EXISTS public.idx_active_sessions;
ALTER TABLE IF EXISTS ONLY public.stress_test_scenarios DROP CONSTRAINT IF EXISTS uq_stress_test_scenarios_scenario_id;
ALTER TABLE IF EXISTS ONLY public.position_volatility DROP CONSTRAINT IF EXISTS uq_position_volatility_date;
ALTER TABLE IF EXISTS ONLY public.position_greeks DROP CONSTRAINT IF EXISTS uq_position_greeks_position_id;
ALTER TABLE IF EXISTS ONLY public.position_factor_exposures DROP CONSTRAINT IF EXISTS uq_position_factor_date;
ALTER TABLE IF EXISTS ONLY public.position_market_betas DROP CONSTRAINT IF EXISTS uq_position_beta_calc;
ALTER TABLE IF EXISTS ONLY public.portfolio_target_prices DROP CONSTRAINT IF EXISTS uq_portfolio_symbol_type;
ALTER TABLE IF EXISTS ONLY public.portfolio_snapshots DROP CONSTRAINT IF EXISTS uq_portfolio_snapshots_portfolio_date;
ALTER TABLE IF EXISTS ONLY public.market_data_cache DROP CONSTRAINT IF EXISTS uq_market_data_cache_symbol_date;
ALTER TABLE IF EXISTS ONLY public.income_statements DROP CONSTRAINT IF EXISTS uq_income_symbol_period_freq;
ALTER TABLE IF EXISTS ONLY public.fund_holdings DROP CONSTRAINT IF EXISTS uq_fund_holdings_fund_holding_date;
ALTER TABLE IF EXISTS ONLY public.factor_exposures DROP CONSTRAINT IF EXISTS uq_factor_exposures_portfolio_factor_date;
ALTER TABLE IF EXISTS ONLY public.factor_definitions DROP CONSTRAINT IF EXISTS uq_factor_definitions_name;
ALTER TABLE IF EXISTS ONLY public.factor_correlations DROP CONSTRAINT IF EXISTS uq_factor_correlations_factors_date;
ALTER TABLE IF EXISTS ONLY public.correlation_calculations DROP CONSTRAINT IF EXISTS uq_correlation_calculations_portfolio_id;
ALTER TABLE IF EXISTS ONLY public.cash_flows DROP CONSTRAINT IF EXISTS uq_cashflow_symbol_period_freq;
ALTER TABLE IF EXISTS ONLY public.benchmarks_sector_weights DROP CONSTRAINT IF EXISTS uq_benchmark_sector_date;
ALTER TABLE IF EXISTS ONLY public.batch_run_tracking DROP CONSTRAINT IF EXISTS uq_batch_run_tracking_run_date;
ALTER TABLE IF EXISTS ONLY public.batch_job_schedules DROP CONSTRAINT IF EXISTS uq_batch_job_schedules_job_name;
ALTER TABLE IF EXISTS ONLY public.balance_sheets DROP CONSTRAINT IF EXISTS uq_balance_symbol_period_freq;
ALTER TABLE IF EXISTS ONLY public.agent_user_preferences DROP CONSTRAINT IF EXISTS uq_agent_user_preferences_user_id;
ALTER TABLE IF EXISTS ONLY public.position_tags DROP CONSTRAINT IF EXISTS unique_position_tag;
ALTER TABLE IF EXISTS ONLY public.tags_v2 DROP CONSTRAINT IF EXISTS unique_active_tag_name_v2;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS pk_users;
ALTER TABLE IF EXISTS ONLY public.tags_v2 DROP CONSTRAINT IF EXISTS pk_tags_v2;
ALTER TABLE IF EXISTS ONLY public.tags DROP CONSTRAINT IF EXISTS pk_tags;
ALTER TABLE IF EXISTS ONLY public.stress_test_scenarios DROP CONSTRAINT IF EXISTS pk_stress_test_scenarios;
ALTER TABLE IF EXISTS ONLY public.stress_test_results DROP CONSTRAINT IF EXISTS pk_stress_test_results;
ALTER TABLE IF EXISTS ONLY public.positions DROP CONSTRAINT IF EXISTS pk_positions;
ALTER TABLE IF EXISTS ONLY public.position_volatility DROP CONSTRAINT IF EXISTS pk_position_volatility;
ALTER TABLE IF EXISTS ONLY public.position_tags DROP CONSTRAINT IF EXISTS pk_position_tags;
ALTER TABLE IF EXISTS ONLY public.position_realized_events DROP CONSTRAINT IF EXISTS pk_position_realized_events;
ALTER TABLE IF EXISTS ONLY public.position_market_betas DROP CONSTRAINT IF EXISTS pk_position_market_betas;
ALTER TABLE IF EXISTS ONLY public.position_interest_rate_betas DROP CONSTRAINT IF EXISTS pk_position_interest_rate_betas;
ALTER TABLE IF EXISTS ONLY public.position_greeks DROP CONSTRAINT IF EXISTS pk_position_greeks;
ALTER TABLE IF EXISTS ONLY public.position_factor_exposures DROP CONSTRAINT IF EXISTS pk_position_factor_exposures;
ALTER TABLE IF EXISTS ONLY public.portfolios DROP CONSTRAINT IF EXISTS pk_portfolios;
ALTER TABLE IF EXISTS ONLY public.portfolio_target_prices DROP CONSTRAINT IF EXISTS pk_portfolio_target_prices;
ALTER TABLE IF EXISTS ONLY public.portfolio_snapshots DROP CONSTRAINT IF EXISTS pk_portfolio_snapshots;
ALTER TABLE IF EXISTS ONLY public.pairwise_correlations DROP CONSTRAINT IF EXISTS pk_pairwise_correlations;
ALTER TABLE IF EXISTS ONLY public.modeling_session_snapshots DROP CONSTRAINT IF EXISTS pk_modeling_session_snapshots;
ALTER TABLE IF EXISTS ONLY public.market_risk_scenarios DROP CONSTRAINT IF EXISTS pk_market_risk_scenarios;
ALTER TABLE IF EXISTS ONLY public.market_data_cache DROP CONSTRAINT IF EXISTS pk_market_data_cache;
ALTER TABLE IF EXISTS ONLY public.income_statements DROP CONSTRAINT IF EXISTS pk_income_statements;
ALTER TABLE IF EXISTS ONLY public.fund_holdings DROP CONSTRAINT IF EXISTS pk_fund_holdings;
ALTER TABLE IF EXISTS ONLY public.factor_exposures DROP CONSTRAINT IF EXISTS pk_factor_exposures;
ALTER TABLE IF EXISTS ONLY public.factor_definitions DROP CONSTRAINT IF EXISTS pk_factor_definitions;
ALTER TABLE IF EXISTS ONLY public.factor_correlations DROP CONSTRAINT IF EXISTS pk_factor_correlations;
ALTER TABLE IF EXISTS ONLY public.export_history DROP CONSTRAINT IF EXISTS pk_export_history;
ALTER TABLE IF EXISTS ONLY public.correlation_clusters DROP CONSTRAINT IF EXISTS pk_correlation_clusters;
ALTER TABLE IF EXISTS ONLY public.correlation_cluster_positions DROP CONSTRAINT IF EXISTS pk_correlation_cluster_positions;
ALTER TABLE IF EXISTS ONLY public.correlation_calculations DROP CONSTRAINT IF EXISTS pk_correlation_calculations;
ALTER TABLE IF EXISTS ONLY public.company_profiles DROP CONSTRAINT IF EXISTS pk_company_profiles;
ALTER TABLE IF EXISTS ONLY public.cash_flows DROP CONSTRAINT IF EXISTS pk_cash_flows;
ALTER TABLE IF EXISTS ONLY public.benchmarks_sector_weights DROP CONSTRAINT IF EXISTS pk_benchmarks_sector_weights;
ALTER TABLE IF EXISTS ONLY public.batch_run_tracking DROP CONSTRAINT IF EXISTS pk_batch_run_tracking;
ALTER TABLE IF EXISTS ONLY public.batch_jobs DROP CONSTRAINT IF EXISTS pk_batch_jobs;
ALTER TABLE IF EXISTS ONLY public.batch_job_schedules DROP CONSTRAINT IF EXISTS pk_batch_job_schedules;
ALTER TABLE IF EXISTS ONLY public.balance_sheets DROP CONSTRAINT IF EXISTS pk_balance_sheets;
ALTER TABLE IF EXISTS ONLY public.ai_insights DROP CONSTRAINT IF EXISTS pk_ai_insights;
ALTER TABLE IF EXISTS ONLY public.ai_insight_templates DROP CONSTRAINT IF EXISTS pk_ai_insight_templates;
ALTER TABLE IF EXISTS ONLY public.agent_user_preferences DROP CONSTRAINT IF EXISTS pk_agent_user_preferences;
ALTER TABLE IF EXISTS ONLY public.agent_messages DROP CONSTRAINT IF EXISTS pk_agent_messages;
ALTER TABLE IF EXISTS ONLY public.agent_conversations DROP CONSTRAINT IF EXISTS pk_agent_conversations;
ALTER TABLE IF EXISTS ONLY public.alembic_version DROP CONSTRAINT IF EXISTS alembic_version_pkc;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.tags_v2;
DROP TABLE IF EXISTS public.tags;
DROP TABLE IF EXISTS public.stress_test_scenarios;
DROP TABLE IF EXISTS public.stress_test_results;
DROP TABLE IF EXISTS public.positions;
DROP TABLE IF EXISTS public.position_volatility;
DROP TABLE IF EXISTS public.position_tags;
DROP TABLE IF EXISTS public.position_realized_events;
DROP TABLE IF EXISTS public.position_market_betas;
DROP TABLE IF EXISTS public.position_interest_rate_betas;
DROP TABLE IF EXISTS public.position_greeks;
DROP TABLE IF EXISTS public.position_factor_exposures;
DROP TABLE IF EXISTS public.portfolios;
DROP TABLE IF EXISTS public.portfolio_target_prices;
DROP TABLE IF EXISTS public.portfolio_snapshots;
DROP TABLE IF EXISTS public.pairwise_correlations;
DROP TABLE IF EXISTS public.modeling_session_snapshots;
DROP TABLE IF EXISTS public.market_risk_scenarios;
DROP TABLE IF EXISTS public.market_data_cache;
DROP TABLE IF EXISTS public.income_statements;
DROP TABLE IF EXISTS public.fund_holdings;
DROP TABLE IF EXISTS public.factor_exposures;
DROP TABLE IF EXISTS public.factor_definitions;
DROP TABLE IF EXISTS public.factor_correlations;
DROP TABLE IF EXISTS public.export_history;
DROP TABLE IF EXISTS public.correlation_clusters;
DROP TABLE IF EXISTS public.correlation_cluster_positions;
DROP TABLE IF EXISTS public.correlation_calculations;
DROP TABLE IF EXISTS public.company_profiles;
DROP TABLE IF EXISTS public.cash_flows;
DROP TABLE IF EXISTS public.benchmarks_sector_weights;
DROP TABLE IF EXISTS public.batch_run_tracking;
DROP TABLE IF EXISTS public.batch_jobs;
DROP TABLE IF EXISTS public.batch_job_schedules;
DROP TABLE IF EXISTS public.balance_sheets;
DROP TABLE IF EXISTS public.alembic_version;
DROP TABLE IF EXISTS public.ai_insights;
DROP TABLE IF EXISTS public.ai_insight_templates;
DROP TABLE IF EXISTS public.agent_user_preferences;
DROP TABLE IF EXISTS public.agent_messages;
DROP TABLE IF EXISTS public.agent_conversations;
DROP TYPE IF EXISTS public.tagtype;
DROP TYPE IF EXISTS public.positiontype;
DROP TYPE IF EXISTS public.insight_type;
DROP TYPE IF EXISTS public.insight_severity;
DROP TYPE IF EXISTS public.alerttype;
DROP TYPE IF EXISTS public.alertstatus;
DROP TYPE IF EXISTS public.alertpriority;
--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: alertpriority; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.alertpriority AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'CRITICAL'
);


--
-- Name: alertstatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.alertstatus AS ENUM (
    'ACTIVE',
    'DISMISSED',
    'RESOLVED'
);


--
-- Name: alerttype; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.alerttype AS ENUM (
    'EXPIRATION_RISK',
    'CONCENTRATION',
    'RISK_LIMIT',
    'POSITION_CHANGE',
    'MARKET_MOVE',
    'CORRELATION'
);


--
-- Name: insight_severity; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.insight_severity AS ENUM (
    'info',
    'normal',
    'elevated',
    'warning',
    'critical'
);


--
-- Name: insight_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.insight_type AS ENUM (
    'daily_summary',
    'volatility_analysis',
    'concentration_risk',
    'hedge_quality',
    'factor_exposure',
    'stress_test_review',
    'custom'
);


--
-- Name: positiontype; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.positiontype AS ENUM (
    'LC',
    'LP',
    'SC',
    'SP',
    'LONG',
    'SHORT'
);


--
-- Name: tagtype; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.tagtype AS ENUM (
    'REGULAR',
    'STRATEGY'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agent_conversations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.agent_conversations (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    mode character varying(50) NOT NULL,
    provider character varying(32) NOT NULL,
    provider_thread_id character varying(255),
    provider_run_id character varying(255),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    metadata jsonb NOT NULL
);


--
-- Name: agent_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.agent_messages (
    id uuid NOT NULL,
    conversation_id uuid NOT NULL,
    role character varying(50) NOT NULL,
    content text,
    tool_calls jsonb NOT NULL,
    first_token_ms integer,
    latency_ms integer,
    prompt_tokens integer,
    completion_tokens integer,
    total_tokens integer,
    provider_message_id character varying(255),
    created_at timestamp with time zone NOT NULL,
    error jsonb
);


--
-- Name: agent_user_preferences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.agent_user_preferences (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    default_mode character varying(50) NOT NULL,
    preferred_model character varying(100),
    code_interpreter_enabled boolean NOT NULL,
    tool_calls_enabled boolean NOT NULL,
    streaming_enabled boolean NOT NULL,
    user_context character varying(2000),
    settings jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: ai_insight_templates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ai_insight_templates (
    id uuid NOT NULL,
    insight_type public.insight_type NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    version character varying(20) NOT NULL,
    system_prompt text NOT NULL,
    investigation_prompt text NOT NULL,
    model_preference character varying(50),
    max_tokens numeric(6,0),
    temperature numeric(3,2),
    required_tools json,
    optional_tools json,
    active boolean DEFAULT true NOT NULL,
    avg_quality_score numeric(3,2),
    usage_count numeric(10,0) DEFAULT '0'::numeric,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now(),
    deprecated_at timestamp without time zone
);


--
-- Name: ai_insights; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ai_insights (
    id uuid NOT NULL,
    portfolio_id uuid NOT NULL,
    insight_type public.insight_type NOT NULL,
    title character varying(200) NOT NULL,
    severity public.insight_severity NOT NULL,
    summary text NOT NULL,
    full_analysis text,
    key_findings json,
    recommendations json,
    data_limitations text,
    context_data json,
    data_quality json,
    focus_area character varying(100),
    user_question text,
    model_used character varying(50) NOT NULL,
    provider character varying(20) DEFAULT 'anthropic'::character varying NOT NULL,
    prompt_version character varying(20),
    cost_usd numeric(10,6),
    generation_time_ms numeric(10,2),
    token_count_input numeric(10,0),
    token_count_output numeric(10,0),
    tool_calls_count numeric(3,0) DEFAULT '0'::numeric,
    cache_hit boolean DEFAULT false,
    cache_source_id uuid,
    cache_key character varying(64),
    user_rating numeric(2,1),
    user_feedback text,
    viewed boolean DEFAULT false,
    dismissed boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    expires_at timestamp without time zone,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: balance_sheets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.balance_sheets (
    id uuid NOT NULL,
    symbol character varying(10) NOT NULL,
    period_date date NOT NULL,
    fiscal_year integer,
    fiscal_quarter integer,
    frequency character varying(1) NOT NULL,
    total_assets numeric(20,2),
    current_assets numeric(20,2),
    cash_and_cash_equivalents numeric(20,2),
    short_term_investments numeric(20,2),
    accounts_receivable numeric(20,2),
    inventory numeric(20,2),
    property_plant_equipment numeric(20,2),
    intangible_assets numeric(20,2),
    total_liabilities numeric(20,2),
    current_liabilities numeric(20,2),
    accounts_payable numeric(20,2),
    short_term_debt numeric(20,2),
    long_term_debt numeric(20,2),
    total_debt numeric(20,2),
    total_stockholders_equity numeric(20,2),
    retained_earnings numeric(20,2),
    common_stock numeric(20,2),
    working_capital numeric(20,2),
    net_debt numeric(20,2),
    current_ratio numeric(8,4),
    debt_to_equity numeric(8,4),
    book_value_per_share numeric(12,4),
    currency character varying(3) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: batch_job_schedules; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.batch_job_schedules (
    id uuid NOT NULL,
    job_name character varying(100) NOT NULL,
    job_type character varying(50) NOT NULL,
    cron_expression character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    description character varying(500),
    timeout_seconds integer NOT NULL,
    retry_count integer NOT NULL,
    retry_delay_seconds integer NOT NULL,
    last_run_at timestamp with time zone,
    next_run_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: batch_jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.batch_jobs (
    id uuid NOT NULL,
    job_name character varying(100) NOT NULL,
    job_type character varying(50) NOT NULL,
    status character varying(20) NOT NULL,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    duration_seconds integer,
    records_processed integer,
    error_message character varying(1000),
    job_metadata json,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: batch_run_tracking; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.batch_run_tracking (
    id uuid NOT NULL,
    run_date date NOT NULL,
    phase_1_status character varying(20),
    phase_2_status character varying(20),
    phase_3_status character varying(20),
    phase_1_duration_seconds integer,
    phase_2_duration_seconds integer,
    phase_3_duration_seconds integer,
    portfolios_processed integer,
    symbols_fetched integer,
    data_coverage_pct numeric(5,2),
    error_message text,
    completed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: benchmarks_sector_weights; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.benchmarks_sector_weights (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    benchmark_code character varying(32) NOT NULL,
    asof_date date NOT NULL,
    sector character varying(64) NOT NULL,
    weight numeric(12,6) NOT NULL,
    market_cap numeric(20,2),
    num_constituents integer,
    data_source character varying(32) DEFAULT 'FMP'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: cash_flows; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cash_flows (
    id uuid NOT NULL,
    symbol character varying(10) NOT NULL,
    period_date date NOT NULL,
    fiscal_year integer,
    fiscal_quarter integer,
    frequency character varying(1) NOT NULL,
    operating_cash_flow numeric(20,2),
    depreciation_and_amortization numeric(20,2),
    stock_based_compensation numeric(20,2),
    change_in_working_capital numeric(20,2),
    investing_cash_flow numeric(20,2),
    capital_expenditures numeric(20,2),
    acquisitions numeric(20,2),
    purchases_of_investments numeric(20,2),
    financing_cash_flow numeric(20,2),
    dividends_paid numeric(20,2),
    stock_repurchases numeric(20,2),
    debt_issuance_repayment numeric(20,2),
    net_change_in_cash numeric(20,2),
    beginning_cash_position numeric(20,2),
    free_cash_flow numeric(20,2),
    fcf_margin numeric(8,6),
    currency character varying(3) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: company_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.company_profiles (
    symbol character varying(20) NOT NULL,
    company_name character varying(200),
    sector character varying(100),
    industry character varying(100),
    exchange character varying(50),
    country character varying(50),
    market_cap numeric(18,2),
    description character varying(1000),
    is_etf boolean,
    is_fund boolean,
    ceo character varying(100),
    employees integer,
    website character varying(200),
    pe_ratio numeric(10,2),
    forward_pe numeric(10,2),
    dividend_yield numeric(8,6),
    beta numeric(8,4),
    week_52_high numeric(12,4),
    week_52_low numeric(12,4),
    target_mean_price numeric(12,4),
    target_high_price numeric(12,4),
    target_low_price numeric(12,4),
    number_of_analyst_opinions integer,
    recommendation_mean numeric(3,2),
    recommendation_key character varying(20),
    forward_eps numeric(12,4),
    earnings_growth numeric(8,6),
    revenue_growth numeric(8,6),
    earnings_quarterly_growth numeric(8,6),
    profit_margins numeric(8,6),
    operating_margins numeric(8,6),
    gross_margins numeric(8,6),
    return_on_assets numeric(8,6),
    return_on_equity numeric(8,6),
    total_revenue numeric(18,2),
    current_year_revenue_avg numeric(18,2),
    current_year_revenue_low numeric(18,2),
    current_year_revenue_high numeric(18,2),
    current_year_revenue_growth numeric(8,6),
    current_year_earnings_avg numeric(12,4),
    current_year_earnings_low numeric(12,4),
    current_year_earnings_high numeric(12,4),
    current_year_end_date date,
    next_year_revenue_avg numeric(18,2),
    next_year_revenue_low numeric(18,2),
    next_year_revenue_high numeric(18,2),
    next_year_revenue_growth numeric(8,6),
    next_year_earnings_avg numeric(12,4),
    next_year_earnings_low numeric(12,4),
    next_year_earnings_high numeric(12,4),
    next_year_end_date date,
    data_source character varying(50) NOT NULL,
    last_updated timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    current_quarter_target_period_date date,
    current_quarter_revenue_avg numeric(20,2),
    current_quarter_revenue_low numeric(20,2),
    current_quarter_revenue_high numeric(20,2),
    current_quarter_eps_avg numeric(12,4),
    current_quarter_eps_low numeric(12,4),
    current_quarter_eps_high numeric(12,4),
    current_quarter_analyst_count integer,
    next_quarter_target_period_date date,
    next_quarter_revenue_avg numeric(20,2),
    next_quarter_revenue_low numeric(20,2),
    next_quarter_revenue_high numeric(20,2),
    next_quarter_eps_avg numeric(12,4),
    next_quarter_eps_low numeric(12,4),
    next_quarter_eps_high numeric(12,4),
    next_quarter_analyst_count integer,
    fiscal_year_end character varying(5),
    fiscal_quarter_offset integer,
    next_earnings_date date,
    next_earnings_expected_eps numeric(12,4),
    next_earnings_expected_revenue numeric(20,2),
    fundamentals_last_fetched timestamp with time zone
);


--
-- Name: correlation_calculations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.correlation_calculations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    portfolio_id uuid NOT NULL,
    duration_days integer NOT NULL,
    calculation_date timestamp with time zone NOT NULL,
    overall_correlation numeric(8,6) NOT NULL,
    correlation_concentration_score numeric(8,6) NOT NULL,
    effective_positions numeric(8,2) NOT NULL,
    data_quality character varying(20) NOT NULL,
    min_position_value numeric(18,4),
    min_portfolio_weight numeric(8,6),
    filter_mode character varying(20),
    correlation_threshold numeric(8,6),
    positions_included integer NOT NULL,
    positions_excluded integer NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: correlation_cluster_positions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.correlation_cluster_positions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    cluster_id uuid NOT NULL,
    position_id uuid NOT NULL,
    symbol character varying(20) NOT NULL,
    value numeric(18,4) NOT NULL,
    portfolio_percentage numeric(8,6) NOT NULL,
    correlation_to_cluster numeric(8,6) NOT NULL
);


--
-- Name: correlation_clusters; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.correlation_clusters (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    correlation_calculation_id uuid NOT NULL,
    cluster_number integer NOT NULL,
    nickname character varying(100) NOT NULL,
    avg_correlation numeric(8,6) NOT NULL,
    total_value numeric(18,4) NOT NULL,
    portfolio_percentage numeric(8,6) NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: export_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.export_history (
    id uuid NOT NULL,
    user_id uuid,
    export_type character varying(50) NOT NULL,
    export_format character varying(10) NOT NULL,
    file_name character varying(255) NOT NULL,
    file_size_bytes integer,
    created_at timestamp with time zone NOT NULL,
    CONSTRAINT ck_export_history_export_format_check CHECK (((export_format)::text = ANY (ARRAY[('csv'::character varying)::text, ('json'::character varying)::text, ('fix'::character varying)::text]))),
    CONSTRAINT ck_export_history_export_type_check CHECK (((export_type)::text = ANY (ARRAY[('portfolio'::character varying)::text, ('trades'::character varying)::text, ('modeling_session'::character varying)::text])))
);


--
-- Name: COLUMN export_history.export_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.export_history.export_type IS 'Type of export: portfolio, trades, modeling_session';


--
-- Name: COLUMN export_history.export_format; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.export_history.export_format IS 'Format: csv, json, fix';


--
-- Name: factor_correlations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.factor_correlations (
    id uuid NOT NULL,
    factor_1_id uuid NOT NULL,
    factor_2_id uuid NOT NULL,
    correlation numeric(8,6) NOT NULL,
    calculation_date date NOT NULL,
    lookback_days integer NOT NULL,
    decay_factor numeric(4,3) NOT NULL,
    data_points integer NOT NULL,
    created_at timestamp with time zone NOT NULL
);


--
-- Name: factor_definitions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.factor_definitions (
    id uuid NOT NULL,
    name character varying(50) NOT NULL,
    description character varying(500),
    factor_type character varying(20) NOT NULL,
    calculation_method character varying(50),
    etf_proxy character varying(10),
    display_order integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: factor_exposures; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.factor_exposures (
    id uuid NOT NULL,
    portfolio_id uuid NOT NULL,
    factor_id uuid NOT NULL,
    calculation_date date NOT NULL,
    exposure_value numeric(12,6) NOT NULL,
    exposure_dollar numeric(16,2),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: fund_holdings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fund_holdings (
    id uuid NOT NULL,
    fund_symbol character varying(20) NOT NULL,
    holding_symbol character varying(20) NOT NULL,
    holding_name character varying(200),
    weight numeric(8,6) NOT NULL,
    shares integer,
    market_value numeric(16,2),
    data_source character varying(50) NOT NULL,
    last_updated date NOT NULL,
    data_quality character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: income_statements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.income_statements (
    id uuid NOT NULL,
    symbol character varying(10) NOT NULL,
    period_date date NOT NULL,
    fiscal_year integer,
    fiscal_quarter integer,
    frequency character varying(1) NOT NULL,
    total_revenue numeric(20,2),
    cost_of_revenue numeric(20,2),
    gross_profit numeric(20,2),
    gross_margin numeric(8,6),
    research_and_development numeric(20,2),
    selling_general_and_administrative numeric(20,2),
    operating_income numeric(20,2),
    operating_margin numeric(8,6),
    ebit numeric(20,2),
    ebitda numeric(20,2),
    net_income numeric(20,2),
    net_margin numeric(8,6),
    diluted_eps numeric(12,4),
    basic_eps numeric(12,4),
    basic_average_shares bigint,
    diluted_average_shares bigint,
    tax_provision numeric(20,2),
    interest_expense numeric(20,2),
    depreciation_and_amortization numeric(20,2),
    currency character varying(3) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: market_data_cache; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.market_data_cache (
    id uuid NOT NULL,
    symbol character varying(20) NOT NULL,
    date date NOT NULL,
    open numeric(12,4),
    high numeric(12,4),
    low numeric(12,4),
    close numeric(12,4) NOT NULL,
    volume integer,
    sector character varying(100),
    industry character varying(100),
    exchange character varying(20),
    country character varying(10),
    market_cap numeric(18,2),
    data_source character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: market_risk_scenarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.market_risk_scenarios (
    id uuid NOT NULL,
    portfolio_id uuid NOT NULL,
    scenario_type character varying(50) NOT NULL,
    scenario_value numeric(8,6) NOT NULL,
    predicted_pnl numeric(16,2) NOT NULL,
    calculation_date date NOT NULL,
    created_at timestamp with time zone NOT NULL
);


--
-- Name: modeling_session_snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.modeling_session_snapshots (
    id uuid NOT NULL,
    session_id character varying(50) NOT NULL,
    user_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    status character varying(20) NOT NULL,
    base_portfolio_snapshot json NOT NULL,
    modified_portfolio_snapshot json,
    changes json,
    impact_summary json,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    completed_at timestamp with time zone,
    CONSTRAINT ck_modeling_session_snapshots_modeling_session_status_check CHECK (((status)::text = ANY (ARRAY[('active'::character varying)::text, ('completed'::character varying)::text, ('cancelled'::character varying)::text])))
);


--
-- Name: COLUMN modeling_session_snapshots.base_portfolio_snapshot; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.modeling_session_snapshots.base_portfolio_snapshot IS 'Original portfolio state before modifications';


--
-- Name: COLUMN modeling_session_snapshots.modified_portfolio_snapshot; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.modeling_session_snapshots.modified_portfolio_snapshot IS 'Portfolio state after applying changes';


--
-- Name: COLUMN modeling_session_snapshots.changes; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.modeling_session_snapshots.changes IS 'Array of position changes (add/remove/modify)';


--
-- Name: COLUMN modeling_session_snapshots.impact_summary; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.modeling_session_snapshots.impact_summary IS 'Summary of impacts on risk, exposure, P&L';


--
-- Name: pairwise_correlations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pairwise_correlations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    correlation_calculation_id uuid NOT NULL,
    symbol_1 character varying(20) NOT NULL,
    symbol_2 character varying(20) NOT NULL,
    correlation_value numeric(8,6) NOT NULL,
    data_points integer NOT NULL,
    statistical_significance numeric(8,6)
);


--
-- Name: portfolio_snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.portfolio_snapshots (
    id uuid NOT NULL,
    portfolio_id uuid NOT NULL,
    snapshot_date date NOT NULL,
    total_value numeric(16,2) NOT NULL,
    cash_value numeric(16,2) NOT NULL,
    long_value numeric(16,2) NOT NULL,
    short_value numeric(16,2) NOT NULL,
    gross_exposure numeric(16,2) NOT NULL,
    net_exposure numeric(16,2) NOT NULL,
    daily_pnl numeric(16,2),
    daily_return numeric(8,6),
    cumulative_pnl numeric(16,2),
    portfolio_delta numeric(12,2),
    portfolio_gamma numeric(12,2),
    portfolio_theta numeric(12,2),
    portfolio_vega numeric(12,2),
    num_positions integer NOT NULL,
    num_long_positions integer NOT NULL,
    num_short_positions integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    equity_balance numeric(16,2),
    beta_calculated_90d numeric(10,4),
    beta_calculated_90d_r_squared numeric(10,4),
    beta_calculated_90d_observations integer,
    beta_portfolio_regression numeric(10,4),
    sector_exposure json,
    hhi numeric(10,4),
    effective_num_positions numeric(10,2),
    top_3_concentration numeric(10,4),
    top_10_concentration numeric(10,4),
    realized_volatility_21d numeric(10,4),
    realized_volatility_63d numeric(10,4),
    expected_volatility_21d numeric(10,4),
    volatility_trend character varying(20),
    volatility_percentile numeric(10,4),
    beta_provider_1y numeric(10,4),
    target_price_return_eoy numeric(8,4),
    target_price_return_next_year numeric(8,4),
    target_price_downside_return numeric(8,4),
    target_price_upside_eoy_dollars numeric(16,2),
    target_price_upside_next_year_dollars numeric(16,2),
    target_price_downside_dollars numeric(16,2),
    target_price_coverage_pct numeric(8,4),
    target_price_positions_count integer,
    target_price_total_positions integer,
    target_price_last_updated timestamp with time zone,
    daily_realized_pnl numeric(16,2),
    cumulative_realized_pnl numeric(16,2)
);


--
-- Name: COLUMN portfolio_snapshots.daily_realized_pnl; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.portfolio_snapshots.daily_realized_pnl IS 'Realized P&L from closed positions on this date';


--
-- Name: COLUMN portfolio_snapshots.cumulative_realized_pnl; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.portfolio_snapshots.cumulative_realized_pnl IS 'Running total of realized P&L';


--
-- Name: portfolio_target_prices; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.portfolio_target_prices (
    id uuid NOT NULL,
    portfolio_id uuid NOT NULL,
    position_id uuid,
    symbol character varying(20) NOT NULL,
    position_type character varying(10),
    target_price_eoy numeric(12,4),
    target_price_next_year numeric(12,4),
    downside_target_price numeric(12,4),
    current_price numeric(12,4) NOT NULL,
    current_implied_vol numeric(8,4),
    expected_return_eoy numeric(8,4),
    expected_return_next_year numeric(8,4),
    downside_return numeric(8,4),
    position_weight numeric(8,4),
    contribution_to_portfolio_return numeric(8,4),
    contribution_to_portfolio_risk numeric(8,4),
    price_updated_at timestamp with time zone,
    analyst_notes text,
    data_source character varying(50),
    created_by uuid,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    target_upside_eoy_value numeric(16,2),
    target_upside_next_year_value numeric(16,2),
    target_downside_value numeric(16,2)
);


--
-- Name: portfolios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.portfolios (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(1000),
    currency character varying(3) NOT NULL,
    equity_balance numeric(16,2),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    deleted_at timestamp with time zone,
    account_name character varying(100) NOT NULL,
    account_type character varying(20) NOT NULL,
    is_active boolean DEFAULT true NOT NULL
);


--
-- Name: position_factor_exposures; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.position_factor_exposures (
    id uuid NOT NULL,
    position_id uuid NOT NULL,
    factor_id uuid NOT NULL,
    calculation_date date NOT NULL,
    exposure_value numeric(12,6) NOT NULL,
    quality_flag character varying(20),
    created_at timestamp with time zone NOT NULL
);


--
-- Name: position_greeks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.position_greeks (
    id uuid NOT NULL,
    position_id uuid NOT NULL,
    calculation_date date NOT NULL,
    delta numeric(12,6),
    gamma numeric(12,6),
    theta numeric(12,4),
    vega numeric(12,4),
    rho numeric(12,4),
    delta_dollars numeric(16,2),
    gamma_dollars numeric(16,2),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: position_interest_rate_betas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.position_interest_rate_betas (
    id uuid NOT NULL,
    position_id uuid NOT NULL,
    ir_beta numeric(8,6) NOT NULL,
    r_squared numeric(6,4),
    calculation_date date NOT NULL,
    created_at timestamp with time zone NOT NULL,
    portfolio_id uuid NOT NULL
);


--
-- Name: position_market_betas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.position_market_betas (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    portfolio_id uuid NOT NULL,
    position_id uuid NOT NULL,
    calc_date date NOT NULL,
    beta numeric(12,6) NOT NULL,
    alpha numeric(12,6),
    r_squared numeric(12,6),
    std_error numeric(12,6),
    p_value numeric(12,6),
    observations integer NOT NULL,
    window_days integer DEFAULT 90 NOT NULL,
    method character varying(32) DEFAULT 'OLS_SIMPLE'::character varying NOT NULL,
    market_index character varying(16) DEFAULT 'SPY'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: position_realized_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.position_realized_events (
    id uuid NOT NULL,
    position_id uuid NOT NULL,
    portfolio_id uuid NOT NULL,
    trade_date date NOT NULL,
    quantity_closed numeric(16,4) NOT NULL,
    realized_pnl numeric(16,2) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: position_tags; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.position_tags (
    id uuid NOT NULL,
    position_id uuid NOT NULL,
    tag_id uuid NOT NULL,
    assigned_at timestamp with time zone DEFAULT now() NOT NULL,
    assigned_by uuid
);


--
-- Name: position_volatility; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.position_volatility (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    position_id uuid NOT NULL,
    calculation_date date NOT NULL,
    realized_vol_21d numeric(10,4),
    realized_vol_63d numeric(10,4),
    vol_daily numeric(10,4),
    vol_weekly numeric(10,4),
    vol_monthly numeric(10,4),
    expected_vol_21d numeric(10,4),
    vol_trend character varying(20),
    vol_trend_strength numeric(10,4),
    vol_percentile numeric(10,4),
    observations integer,
    model_r_squared numeric(10,4),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: positions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.positions (
    id uuid NOT NULL,
    portfolio_id uuid NOT NULL,
    symbol character varying(20) NOT NULL,
    position_type public.positiontype NOT NULL,
    quantity numeric(16,4) NOT NULL,
    entry_price numeric(12,4) NOT NULL,
    entry_date date NOT NULL,
    exit_price numeric(12,4),
    exit_date date,
    underlying_symbol character varying(10),
    strike_price numeric(12,4),
    expiration_date date,
    investment_class character varying(20),
    investment_subtype character varying(30),
    last_price numeric(12,4),
    market_value numeric(16,2),
    unrealized_pnl numeric(16,2),
    realized_pnl numeric(16,2),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    deleted_at timestamp with time zone,
    notes character varying
);


--
-- Name: stress_test_results; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stress_test_results (
    id uuid NOT NULL,
    portfolio_id uuid NOT NULL,
    scenario_id uuid NOT NULL,
    calculation_date date NOT NULL,
    direct_pnl numeric(16,2) NOT NULL,
    correlated_pnl numeric(16,2) NOT NULL,
    correlation_effect numeric(16,2) NOT NULL,
    factor_impacts jsonb,
    calculation_metadata jsonb,
    created_at timestamp with time zone NOT NULL
);


--
-- Name: stress_test_scenarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stress_test_scenarios (
    id uuid NOT NULL,
    scenario_id character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(1000),
    category character varying(50) NOT NULL,
    severity character varying(20) NOT NULL,
    shock_config jsonb NOT NULL,
    active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: tags; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tags (
    id uuid NOT NULL
);


--
-- Name: tags_v2; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tags_v2 (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    name character varying(50) NOT NULL,
    color character varying(7),
    description text,
    display_order integer NOT NULL,
    usage_count integer NOT NULL,
    is_archived boolean NOT NULL,
    archived_at timestamp with time zone,
    archived_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_tags_v2_valid_hex_color CHECK (((color)::text ~ '^#[0-9A-Fa-f]{6}$'::text))
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: agent_conversations pk_agent_conversations; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agent_conversations
    ADD CONSTRAINT pk_agent_conversations PRIMARY KEY (id);


--
-- Name: agent_messages pk_agent_messages; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agent_messages
    ADD CONSTRAINT pk_agent_messages PRIMARY KEY (id);


--
-- Name: agent_user_preferences pk_agent_user_preferences; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agent_user_preferences
    ADD CONSTRAINT pk_agent_user_preferences PRIMARY KEY (id);


--
-- Name: ai_insight_templates pk_ai_insight_templates; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_insight_templates
    ADD CONSTRAINT pk_ai_insight_templates PRIMARY KEY (id);


--
-- Name: ai_insights pk_ai_insights; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_insights
    ADD CONSTRAINT pk_ai_insights PRIMARY KEY (id);


--
-- Name: balance_sheets pk_balance_sheets; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.balance_sheets
    ADD CONSTRAINT pk_balance_sheets PRIMARY KEY (id);


--
-- Name: batch_job_schedules pk_batch_job_schedules; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.batch_job_schedules
    ADD CONSTRAINT pk_batch_job_schedules PRIMARY KEY (id);


--
-- Name: batch_jobs pk_batch_jobs; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.batch_jobs
    ADD CONSTRAINT pk_batch_jobs PRIMARY KEY (id);


--
-- Name: batch_run_tracking pk_batch_run_tracking; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.batch_run_tracking
    ADD CONSTRAINT pk_batch_run_tracking PRIMARY KEY (id);


--
-- Name: benchmarks_sector_weights pk_benchmarks_sector_weights; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.benchmarks_sector_weights
    ADD CONSTRAINT pk_benchmarks_sector_weights PRIMARY KEY (id);


--
-- Name: cash_flows pk_cash_flows; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cash_flows
    ADD CONSTRAINT pk_cash_flows PRIMARY KEY (id);


--
-- Name: company_profiles pk_company_profiles; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_profiles
    ADD CONSTRAINT pk_company_profiles PRIMARY KEY (symbol);


--
-- Name: correlation_calculations pk_correlation_calculations; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.correlation_calculations
    ADD CONSTRAINT pk_correlation_calculations PRIMARY KEY (id);


--
-- Name: correlation_cluster_positions pk_correlation_cluster_positions; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.correlation_cluster_positions
    ADD CONSTRAINT pk_correlation_cluster_positions PRIMARY KEY (id);


--
-- Name: correlation_clusters pk_correlation_clusters; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.correlation_clusters
    ADD CONSTRAINT pk_correlation_clusters PRIMARY KEY (id);


--
-- Name: export_history pk_export_history; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.export_history
    ADD CONSTRAINT pk_export_history PRIMARY KEY (id);


--
-- Name: factor_correlations pk_factor_correlations; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.factor_correlations
    ADD CONSTRAINT pk_factor_correlations PRIMARY KEY (id);


--
-- Name: factor_definitions pk_factor_definitions; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.factor_definitions
    ADD CONSTRAINT pk_factor_definitions PRIMARY KEY (id);


--
-- Name: factor_exposures pk_factor_exposures; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.factor_exposures
    ADD CONSTRAINT pk_factor_exposures PRIMARY KEY (id);


--
-- Name: fund_holdings pk_fund_holdings; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fund_holdings
    ADD CONSTRAINT pk_fund_holdings PRIMARY KEY (id);


--
-- Name: income_statements pk_income_statements; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.income_statements
    ADD CONSTRAINT pk_income_statements PRIMARY KEY (id);


--
-- Name: market_data_cache pk_market_data_cache; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.market_data_cache
    ADD CONSTRAINT pk_market_data_cache PRIMARY KEY (id);


--
-- Name: market_risk_scenarios pk_market_risk_scenarios; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.market_risk_scenarios
    ADD CONSTRAINT pk_market_risk_scenarios PRIMARY KEY (id);


--
-- Name: modeling_session_snapshots pk_modeling_session_snapshots; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.modeling_session_snapshots
    ADD CONSTRAINT pk_modeling_session_snapshots PRIMARY KEY (id);


--
-- Name: pairwise_correlations pk_pairwise_correlations; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pairwise_correlations
    ADD CONSTRAINT pk_pairwise_correlations PRIMARY KEY (id);


--
-- Name: portfolio_snapshots pk_portfolio_snapshots; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_snapshots
    ADD CONSTRAINT pk_portfolio_snapshots PRIMARY KEY (id);


--
-- Name: portfolio_target_prices pk_portfolio_target_prices; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_target_prices
    ADD CONSTRAINT pk_portfolio_target_prices PRIMARY KEY (id);


--
-- Name: portfolios pk_portfolios; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolios
    ADD CONSTRAINT pk_portfolios PRIMARY KEY (id);


--
-- Name: position_factor_exposures pk_position_factor_exposures; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_factor_exposures
    ADD CONSTRAINT pk_position_factor_exposures PRIMARY KEY (id);


--
-- Name: position_greeks pk_position_greeks; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_greeks
    ADD CONSTRAINT pk_position_greeks PRIMARY KEY (id);


--
-- Name: position_interest_rate_betas pk_position_interest_rate_betas; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_interest_rate_betas
    ADD CONSTRAINT pk_position_interest_rate_betas PRIMARY KEY (id);


--
-- Name: position_market_betas pk_position_market_betas; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_market_betas
    ADD CONSTRAINT pk_position_market_betas PRIMARY KEY (id);


--
-- Name: position_realized_events pk_position_realized_events; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_realized_events
    ADD CONSTRAINT pk_position_realized_events PRIMARY KEY (id);


--
-- Name: position_tags pk_position_tags; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_tags
    ADD CONSTRAINT pk_position_tags PRIMARY KEY (id);


--
-- Name: position_volatility pk_position_volatility; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_volatility
    ADD CONSTRAINT pk_position_volatility PRIMARY KEY (id);


--
-- Name: positions pk_positions; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT pk_positions PRIMARY KEY (id);


--
-- Name: stress_test_results pk_stress_test_results; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stress_test_results
    ADD CONSTRAINT pk_stress_test_results PRIMARY KEY (id);


--
-- Name: stress_test_scenarios pk_stress_test_scenarios; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stress_test_scenarios
    ADD CONSTRAINT pk_stress_test_scenarios PRIMARY KEY (id);


--
-- Name: tags pk_tags; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT pk_tags PRIMARY KEY (id);


--
-- Name: tags_v2 pk_tags_v2; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tags_v2
    ADD CONSTRAINT pk_tags_v2 PRIMARY KEY (id);


--
-- Name: users pk_users; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT pk_users PRIMARY KEY (id);


--
-- Name: tags_v2 unique_active_tag_name_v2; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tags_v2
    ADD CONSTRAINT unique_active_tag_name_v2 UNIQUE (user_id, name, is_archived);


--
-- Name: position_tags unique_position_tag; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_tags
    ADD CONSTRAINT unique_position_tag UNIQUE (position_id, tag_id);


--
-- Name: agent_user_preferences uq_agent_user_preferences_user_id; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agent_user_preferences
    ADD CONSTRAINT uq_agent_user_preferences_user_id UNIQUE (user_id);


--
-- Name: balance_sheets uq_balance_symbol_period_freq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.balance_sheets
    ADD CONSTRAINT uq_balance_symbol_period_freq UNIQUE (symbol, period_date, frequency);


--
-- Name: batch_job_schedules uq_batch_job_schedules_job_name; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.batch_job_schedules
    ADD CONSTRAINT uq_batch_job_schedules_job_name UNIQUE (job_name);


--
-- Name: batch_run_tracking uq_batch_run_tracking_run_date; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.batch_run_tracking
    ADD CONSTRAINT uq_batch_run_tracking_run_date UNIQUE (run_date);


--
-- Name: benchmarks_sector_weights uq_benchmark_sector_date; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.benchmarks_sector_weights
    ADD CONSTRAINT uq_benchmark_sector_date UNIQUE (benchmark_code, asof_date, sector);


--
-- Name: cash_flows uq_cashflow_symbol_period_freq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cash_flows
    ADD CONSTRAINT uq_cashflow_symbol_period_freq UNIQUE (symbol, period_date, frequency);


--
-- Name: correlation_calculations uq_correlation_calculations_portfolio_id; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.correlation_calculations
    ADD CONSTRAINT uq_correlation_calculations_portfolio_id UNIQUE (portfolio_id, duration_days, calculation_date);


--
-- Name: factor_correlations uq_factor_correlations_factors_date; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.factor_correlations
    ADD CONSTRAINT uq_factor_correlations_factors_date UNIQUE (factor_1_id, factor_2_id, calculation_date);


--
-- Name: factor_definitions uq_factor_definitions_name; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.factor_definitions
    ADD CONSTRAINT uq_factor_definitions_name UNIQUE (name);


--
-- Name: factor_exposures uq_factor_exposures_portfolio_factor_date; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.factor_exposures
    ADD CONSTRAINT uq_factor_exposures_portfolio_factor_date UNIQUE (portfolio_id, factor_id, calculation_date);


--
-- Name: fund_holdings uq_fund_holdings_fund_holding_date; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fund_holdings
    ADD CONSTRAINT uq_fund_holdings_fund_holding_date UNIQUE (fund_symbol, holding_symbol, last_updated);


--
-- Name: income_statements uq_income_symbol_period_freq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.income_statements
    ADD CONSTRAINT uq_income_symbol_period_freq UNIQUE (symbol, period_date, frequency);


--
-- Name: market_data_cache uq_market_data_cache_symbol_date; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.market_data_cache
    ADD CONSTRAINT uq_market_data_cache_symbol_date UNIQUE (symbol, date);


--
-- Name: portfolio_snapshots uq_portfolio_snapshots_portfolio_date; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_snapshots
    ADD CONSTRAINT uq_portfolio_snapshots_portfolio_date UNIQUE (portfolio_id, snapshot_date);


--
-- Name: portfolio_target_prices uq_portfolio_symbol_type; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_target_prices
    ADD CONSTRAINT uq_portfolio_symbol_type UNIQUE (portfolio_id, symbol, position_type);


--
-- Name: position_market_betas uq_position_beta_calc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_market_betas
    ADD CONSTRAINT uq_position_beta_calc UNIQUE (portfolio_id, position_id, calc_date, method, window_days);


--
-- Name: position_factor_exposures uq_position_factor_date; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_factor_exposures
    ADD CONSTRAINT uq_position_factor_date UNIQUE (position_id, factor_id, calculation_date);


--
-- Name: position_greeks uq_position_greeks_position_id; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_greeks
    ADD CONSTRAINT uq_position_greeks_position_id UNIQUE (position_id);


--
-- Name: position_volatility uq_position_volatility_date; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_volatility
    ADD CONSTRAINT uq_position_volatility_date UNIQUE (position_id, calculation_date);


--
-- Name: stress_test_scenarios uq_stress_test_scenarios_scenario_id; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stress_test_scenarios
    ADD CONSTRAINT uq_stress_test_scenarios_scenario_id UNIQUE (scenario_id);


--
-- Name: idx_active_sessions; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_active_sessions ON public.modeling_session_snapshots USING btree (user_id, status);


--
-- Name: idx_agent_conversations_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_agent_conversations_created_at ON public.agent_conversations USING btree (created_at);


--
-- Name: idx_agent_conversations_provider_thread_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_agent_conversations_provider_thread_id ON public.agent_conversations USING btree (provider_thread_id);


--
-- Name: idx_agent_conversations_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_agent_conversations_user_id ON public.agent_conversations USING btree (user_id);


--
-- Name: idx_agent_messages_conversation_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_agent_messages_conversation_id ON public.agent_messages USING btree (conversation_id);


--
-- Name: idx_agent_messages_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_agent_messages_created_at ON public.agent_messages USING btree (created_at);


--
-- Name: idx_agent_user_preferences_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_agent_user_preferences_user_id ON public.agent_user_preferences USING btree (user_id);


--
-- Name: idx_batch_run_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_batch_run_date ON public.batch_run_tracking USING btree (run_date);


--
-- Name: idx_benchmark_lookup; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_benchmark_lookup ON public.benchmarks_sector_weights USING btree (benchmark_code, asof_date);


--
-- Name: idx_benchmark_sector; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_benchmark_sector ON public.benchmarks_sector_weights USING btree (benchmark_code, sector, asof_date);


--
-- Name: idx_cluster_positions_cluster; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cluster_positions_cluster ON public.correlation_cluster_positions USING btree (cluster_id);


--
-- Name: idx_cluster_positions_position; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cluster_positions_position ON public.correlation_cluster_positions USING btree (position_id);


--
-- Name: idx_correlation_calculations_portfolio_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_correlation_calculations_portfolio_date ON public.correlation_calculations USING btree (portfolio_id, calculation_date);


--
-- Name: idx_correlation_clusters_calculation; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_correlation_clusters_calculation ON public.correlation_clusters USING btree (correlation_calculation_id);


--
-- Name: idx_factor_correlations_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_factor_correlations_date ON public.factor_correlations USING btree (calculation_date);


--
-- Name: idx_factor_correlations_factors; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_factor_correlations_factors ON public.factor_correlations USING btree (factor_1_id, factor_2_id);


--
-- Name: idx_ir_betas_portfolio_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ir_betas_portfolio_date ON public.position_interest_rate_betas USING btree (portfolio_id, calculation_date);


--
-- Name: idx_ir_betas_position_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ir_betas_position_date ON public.position_interest_rate_betas USING btree (position_id, calculation_date);


--
-- Name: idx_market_risk_portfolio_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_market_risk_portfolio_date ON public.market_risk_scenarios USING btree (portfolio_id, calculation_date);


--
-- Name: idx_market_risk_scenario_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_market_risk_scenario_type ON public.market_risk_scenarios USING btree (scenario_type);


--
-- Name: idx_pairwise_correlations_calculation; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pairwise_correlations_calculation ON public.pairwise_correlations USING btree (correlation_calculation_id);


--
-- Name: idx_pairwise_correlations_calculation_symbols; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pairwise_correlations_calculation_symbols ON public.pairwise_correlations USING btree (correlation_calculation_id, symbol_1, symbol_2);


--
-- Name: idx_pfe_calculation_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pfe_calculation_date ON public.position_factor_exposures USING btree (calculation_date);


--
-- Name: idx_pfe_factor_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pfe_factor_date ON public.position_factor_exposures USING btree (factor_id, calculation_date);


--
-- Name: idx_pfe_position_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pfe_position_date ON public.position_factor_exposures USING btree (position_id, calculation_date);


--
-- Name: idx_pos_beta_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pos_beta_created ON public.position_market_betas USING btree (created_at);


--
-- Name: idx_pos_beta_lookup; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pos_beta_lookup ON public.position_market_betas USING btree (portfolio_id, calc_date);


--
-- Name: idx_pos_beta_position; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pos_beta_position ON public.position_market_betas USING btree (position_id, calc_date);


--
-- Name: idx_position_portfolio_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_position_portfolio_active ON public.positions USING btree (portfolio_id, deleted_at);


--
-- Name: idx_stress_results_calculation_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stress_results_calculation_date ON public.stress_test_results USING btree (calculation_date);


--
-- Name: idx_stress_results_portfolio_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stress_results_portfolio_date ON public.stress_test_results USING btree (portfolio_id, calculation_date);


--
-- Name: idx_stress_results_scenario; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stress_results_scenario ON public.stress_test_results USING btree (scenario_id);


--
-- Name: idx_stress_scenarios_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stress_scenarios_active ON public.stress_test_scenarios USING btree (active);


--
-- Name: idx_stress_scenarios_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stress_scenarios_category ON public.stress_test_scenarios USING btree (category);


--
-- Name: idx_stress_scenarios_severity; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_stress_scenarios_severity ON public.stress_test_scenarios USING btree (severity);


--
-- Name: ix_ai_insight_templates_insight_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ai_insight_templates_insight_type ON public.ai_insight_templates USING btree (insight_type);


--
-- Name: ix_ai_insights_cache_key; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ai_insights_cache_key ON public.ai_insights USING btree (cache_key);


--
-- Name: ix_ai_insights_cache_lookup; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ai_insights_cache_lookup ON public.ai_insights USING btree (cache_key, created_at);


--
-- Name: ix_ai_insights_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ai_insights_created_at ON public.ai_insights USING btree (created_at);


--
-- Name: ix_ai_insights_insight_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ai_insights_insight_type ON public.ai_insights USING btree (insight_type);


--
-- Name: ix_ai_insights_portfolio_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ai_insights_portfolio_created ON public.ai_insights USING btree (portfolio_id, created_at);


--
-- Name: ix_ai_insights_portfolio_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ai_insights_portfolio_id ON public.ai_insights USING btree (portfolio_id);


--
-- Name: ix_ai_insights_type_severity; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ai_insights_type_severity ON public.ai_insights USING btree (insight_type, severity);


--
-- Name: ix_ai_templates_type_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ai_templates_type_active ON public.ai_insight_templates USING btree (insight_type, active);


--
-- Name: ix_ai_templates_version; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ai_templates_version ON public.ai_insight_templates USING btree (insight_type, version);


--
-- Name: ix_balance_sheets_period_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_balance_sheets_period_date ON public.balance_sheets USING btree (period_date);


--
-- Name: ix_balance_sheets_symbol; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_balance_sheets_symbol ON public.balance_sheets USING btree (symbol);


--
-- Name: ix_batch_job_schedules_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_batch_job_schedules_is_active ON public.batch_job_schedules USING btree (is_active);


--
-- Name: ix_batch_job_schedules_next_run_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_batch_job_schedules_next_run_at ON public.batch_job_schedules USING btree (next_run_at);


--
-- Name: ix_batch_jobs_job_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_batch_jobs_job_type ON public.batch_jobs USING btree (job_type);


--
-- Name: ix_batch_jobs_started_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_batch_jobs_started_at ON public.batch_jobs USING btree (started_at);


--
-- Name: ix_batch_jobs_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_batch_jobs_status ON public.batch_jobs USING btree (status);


--
-- Name: ix_cash_flows_period_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_cash_flows_period_date ON public.cash_flows USING btree (period_date);


--
-- Name: ix_cash_flows_symbol; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_cash_flows_symbol ON public.cash_flows USING btree (symbol);


--
-- Name: ix_company_profiles_symbol; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_company_profiles_symbol ON public.company_profiles USING btree (symbol);


--
-- Name: ix_export_history_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_export_history_user_id ON public.export_history USING btree (user_id);


--
-- Name: ix_factor_exposures_calculation_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_factor_exposures_calculation_date ON public.factor_exposures USING btree (calculation_date);


--
-- Name: ix_factor_exposures_portfolio_id_factor_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_factor_exposures_portfolio_id_factor_id ON public.factor_exposures USING btree (portfolio_id, factor_id);


--
-- Name: ix_fund_holdings_data_source; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_fund_holdings_data_source ON public.fund_holdings USING btree (data_source);


--
-- Name: ix_fund_holdings_fund_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_fund_holdings_fund_date ON public.fund_holdings USING btree (fund_symbol, last_updated);


--
-- Name: ix_fund_holdings_fund_symbol; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_fund_holdings_fund_symbol ON public.fund_holdings USING btree (fund_symbol);


--
-- Name: ix_fund_holdings_holding_symbol; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_fund_holdings_holding_symbol ON public.fund_holdings USING btree (holding_symbol);


--
-- Name: ix_fund_holdings_last_updated; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_fund_holdings_last_updated ON public.fund_holdings USING btree (last_updated);


--
-- Name: ix_income_statements_period_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_income_statements_period_date ON public.income_statements USING btree (period_date);


--
-- Name: ix_income_statements_symbol; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_income_statements_symbol ON public.income_statements USING btree (symbol);


--
-- Name: ix_market_data_cache_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_market_data_cache_date ON public.market_data_cache USING btree (date);


--
-- Name: ix_market_data_cache_symbol; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_market_data_cache_symbol ON public.market_data_cache USING btree (symbol);


--
-- Name: ix_modeling_session_snapshots_session_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_modeling_session_snapshots_session_id ON public.modeling_session_snapshots USING btree (session_id);


--
-- Name: ix_portfolio_snapshots_portfolio_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_portfolio_snapshots_portfolio_id ON public.portfolio_snapshots USING btree (portfolio_id);


--
-- Name: ix_portfolio_snapshots_snapshot_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_portfolio_snapshots_snapshot_date ON public.portfolio_snapshots USING btree (snapshot_date);


--
-- Name: ix_portfolios_deleted_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_portfolios_deleted_at ON public.portfolios USING btree (deleted_at);


--
-- Name: ix_portfolios_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_portfolios_user_id ON public.portfolios USING btree (user_id);


--
-- Name: ix_position_greeks_calculation_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_position_greeks_calculation_date ON public.position_greeks USING btree (calculation_date);


--
-- Name: ix_position_greeks_position_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_position_greeks_position_id ON public.position_greeks USING btree (position_id);


--
-- Name: ix_position_realized_events_portfolio_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_position_realized_events_portfolio_date ON public.position_realized_events USING btree (portfolio_id, trade_date);


--
-- Name: ix_position_realized_events_position_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_position_realized_events_position_id ON public.position_realized_events USING btree (position_id);


--
-- Name: ix_position_tags_assigned_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_position_tags_assigned_at ON public.position_tags USING btree (assigned_at);


--
-- Name: ix_position_tags_position_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_position_tags_position_id ON public.position_tags USING btree (position_id);


--
-- Name: ix_position_tags_tag_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_position_tags_tag_id ON public.position_tags USING btree (tag_id);


--
-- Name: ix_position_volatility_calculation_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_position_volatility_calculation_date ON public.position_volatility USING btree (calculation_date);


--
-- Name: ix_position_volatility_lookup; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_position_volatility_lookup ON public.position_volatility USING btree (position_id, calculation_date);


--
-- Name: ix_position_volatility_position_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_position_volatility_position_id ON public.position_volatility USING btree (position_id);


--
-- Name: ix_positions_deleted_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_positions_deleted_at ON public.positions USING btree (deleted_at);


--
-- Name: ix_positions_exit_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_positions_exit_date ON public.positions USING btree (exit_date);


--
-- Name: ix_positions_inv_class_subtype; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_positions_inv_class_subtype ON public.positions USING btree (investment_class, investment_subtype);


--
-- Name: ix_positions_investment_class; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_positions_investment_class ON public.positions USING btree (investment_class);


--
-- Name: ix_positions_portfolio_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_positions_portfolio_id ON public.positions USING btree (portfolio_id);


--
-- Name: ix_positions_symbol; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_positions_symbol ON public.positions USING btree (symbol);


--
-- Name: ix_target_prices_portfolio_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_target_prices_portfolio_id ON public.portfolio_target_prices USING btree (portfolio_id);


--
-- Name: ix_target_prices_position_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_target_prices_position_id ON public.portfolio_target_prices USING btree (position_id);


--
-- Name: ix_target_prices_symbol; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_target_prices_symbol ON public.portfolio_target_prices USING btree (symbol);


--
-- Name: ix_target_prices_updated_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_target_prices_updated_at ON public.portfolio_target_prices USING btree (updated_at);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: agent_messages fk_agent_messages_conversation_id_agent_conversations; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agent_messages
    ADD CONSTRAINT fk_agent_messages_conversation_id_agent_conversations FOREIGN KEY (conversation_id) REFERENCES public.agent_conversations(id) ON DELETE CASCADE;


--
-- Name: ai_insights fk_ai_insights_cache_source_id_ai_insights; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_insights
    ADD CONSTRAINT fk_ai_insights_cache_source_id_ai_insights FOREIGN KEY (cache_source_id) REFERENCES public.ai_insights(id);


--
-- Name: ai_insights fk_ai_insights_portfolio_id_portfolios; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_insights
    ADD CONSTRAINT fk_ai_insights_portfolio_id_portfolios FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id);


--
-- Name: correlation_calculations fk_correlation_calculations_portfolio_id_portfolios; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.correlation_calculations
    ADD CONSTRAINT fk_correlation_calculations_portfolio_id_portfolios FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id);


--
-- Name: correlation_cluster_positions fk_correlation_cluster_positions_cluster_id_correlation_1482; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.correlation_cluster_positions
    ADD CONSTRAINT fk_correlation_cluster_positions_cluster_id_correlation_1482 FOREIGN KEY (cluster_id) REFERENCES public.correlation_clusters(id);


--
-- Name: correlation_cluster_positions fk_correlation_cluster_positions_position_id_positions; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.correlation_cluster_positions
    ADD CONSTRAINT fk_correlation_cluster_positions_position_id_positions FOREIGN KEY (position_id) REFERENCES public.positions(id);


--
-- Name: correlation_clusters fk_correlation_clusters_correlation_calculation_id_corr_40a6; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.correlation_clusters
    ADD CONSTRAINT fk_correlation_clusters_correlation_calculation_id_corr_40a6 FOREIGN KEY (correlation_calculation_id) REFERENCES public.correlation_calculations(id);


--
-- Name: export_history fk_export_history_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.export_history
    ADD CONSTRAINT fk_export_history_user_id_users FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: factor_correlations fk_factor_correlations_factor_1_id_factor_definitions; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.factor_correlations
    ADD CONSTRAINT fk_factor_correlations_factor_1_id_factor_definitions FOREIGN KEY (factor_1_id) REFERENCES public.factor_definitions(id);


--
-- Name: factor_correlations fk_factor_correlations_factor_2_id_factor_definitions; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.factor_correlations
    ADD CONSTRAINT fk_factor_correlations_factor_2_id_factor_definitions FOREIGN KEY (factor_2_id) REFERENCES public.factor_definitions(id);


--
-- Name: factor_exposures fk_factor_exposures_factor_id_factor_definitions; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.factor_exposures
    ADD CONSTRAINT fk_factor_exposures_factor_id_factor_definitions FOREIGN KEY (factor_id) REFERENCES public.factor_definitions(id);


--
-- Name: factor_exposures fk_factor_exposures_portfolio_id_portfolios; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.factor_exposures
    ADD CONSTRAINT fk_factor_exposures_portfolio_id_portfolios FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id);


--
-- Name: market_risk_scenarios fk_market_risk_scenarios_portfolio_id_portfolios; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.market_risk_scenarios
    ADD CONSTRAINT fk_market_risk_scenarios_portfolio_id_portfolios FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id);


--
-- Name: modeling_session_snapshots fk_modeling_session_snapshots_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.modeling_session_snapshots
    ADD CONSTRAINT fk_modeling_session_snapshots_user_id_users FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: pairwise_correlations fk_pairwise_correlations_correlation_calculation_id_cor_fe6e; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pairwise_correlations
    ADD CONSTRAINT fk_pairwise_correlations_correlation_calculation_id_cor_fe6e FOREIGN KEY (correlation_calculation_id) REFERENCES public.correlation_calculations(id);


--
-- Name: portfolio_snapshots fk_portfolio_snapshots_portfolio_id_portfolios; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_snapshots
    ADD CONSTRAINT fk_portfolio_snapshots_portfolio_id_portfolios FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id);


--
-- Name: portfolio_target_prices fk_portfolio_target_prices_created_by_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_target_prices
    ADD CONSTRAINT fk_portfolio_target_prices_created_by_users FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: portfolio_target_prices fk_portfolio_target_prices_portfolio_id_portfolios; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_target_prices
    ADD CONSTRAINT fk_portfolio_target_prices_portfolio_id_portfolios FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id) ON DELETE CASCADE;


--
-- Name: portfolio_target_prices fk_portfolio_target_prices_position_id_positions; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_target_prices
    ADD CONSTRAINT fk_portfolio_target_prices_position_id_positions FOREIGN KEY (position_id) REFERENCES public.positions(id) ON DELETE CASCADE;


--
-- Name: portfolios fk_portfolios_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolios
    ADD CONSTRAINT fk_portfolios_user_id_users FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: position_factor_exposures fk_position_factor_exposures_factor_id_factor_definitions; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_factor_exposures
    ADD CONSTRAINT fk_position_factor_exposures_factor_id_factor_definitions FOREIGN KEY (factor_id) REFERENCES public.factor_definitions(id);


--
-- Name: position_factor_exposures fk_position_factor_exposures_position_id_positions; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_factor_exposures
    ADD CONSTRAINT fk_position_factor_exposures_position_id_positions FOREIGN KEY (position_id) REFERENCES public.positions(id);


--
-- Name: position_greeks fk_position_greeks_position_id_positions; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_greeks
    ADD CONSTRAINT fk_position_greeks_position_id_positions FOREIGN KEY (position_id) REFERENCES public.positions(id);


--
-- Name: position_interest_rate_betas fk_position_interest_rate_betas_portfolio_id_portfolios; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_interest_rate_betas
    ADD CONSTRAINT fk_position_interest_rate_betas_portfolio_id_portfolios FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id);


--
-- Name: position_interest_rate_betas fk_position_interest_rate_betas_position_id_positions; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_interest_rate_betas
    ADD CONSTRAINT fk_position_interest_rate_betas_position_id_positions FOREIGN KEY (position_id) REFERENCES public.positions(id);


--
-- Name: position_market_betas fk_position_market_betas_portfolio_id_portfolios; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_market_betas
    ADD CONSTRAINT fk_position_market_betas_portfolio_id_portfolios FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id);


--
-- Name: position_market_betas fk_position_market_betas_position_id_positions; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_market_betas
    ADD CONSTRAINT fk_position_market_betas_position_id_positions FOREIGN KEY (position_id) REFERENCES public.positions(id);


--
-- Name: position_realized_events fk_position_realized_events_portfolio_id_portfolios; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_realized_events
    ADD CONSTRAINT fk_position_realized_events_portfolio_id_portfolios FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id) ON DELETE CASCADE;


--
-- Name: position_realized_events fk_position_realized_events_position_id_positions; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_realized_events
    ADD CONSTRAINT fk_position_realized_events_position_id_positions FOREIGN KEY (position_id) REFERENCES public.positions(id) ON DELETE CASCADE;


--
-- Name: position_tags fk_position_tags_assigned_by_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_tags
    ADD CONSTRAINT fk_position_tags_assigned_by_users FOREIGN KEY (assigned_by) REFERENCES public.users(id);


--
-- Name: position_tags fk_position_tags_position_id_positions; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_tags
    ADD CONSTRAINT fk_position_tags_position_id_positions FOREIGN KEY (position_id) REFERENCES public.positions(id) ON DELETE CASCADE;


--
-- Name: position_tags fk_position_tags_tag_id_tags_v2; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_tags
    ADD CONSTRAINT fk_position_tags_tag_id_tags_v2 FOREIGN KEY (tag_id) REFERENCES public.tags_v2(id) ON DELETE CASCADE;


--
-- Name: position_volatility fk_position_volatility_position_id_positions; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.position_volatility
    ADD CONSTRAINT fk_position_volatility_position_id_positions FOREIGN KEY (position_id) REFERENCES public.positions(id);


--
-- Name: positions fk_positions_portfolio_id_portfolios; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT fk_positions_portfolio_id_portfolios FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id);


--
-- Name: stress_test_results fk_stress_test_results_portfolio_id_portfolios; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stress_test_results
    ADD CONSTRAINT fk_stress_test_results_portfolio_id_portfolios FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id);


--
-- Name: stress_test_results fk_stress_test_results_scenario_id_stress_test_scenarios; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stress_test_results
    ADD CONSTRAINT fk_stress_test_results_scenario_id_stress_test_scenarios FOREIGN KEY (scenario_id) REFERENCES public.stress_test_scenarios(id);


--
-- Name: tags_v2 fk_tags_v2_archived_by_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tags_v2
    ADD CONSTRAINT fk_tags_v2_archived_by_users FOREIGN KEY (archived_by) REFERENCES public.users(id);


--
-- Name: tags_v2 fk_tags_v2_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tags_v2
    ADD CONSTRAINT fk_tags_v2_user_id_users FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ONN2L0K0iZgy0rx9iklPK0LGGtihZT7FDYox2ORDGlqDlZM9nNUSfgVqj3wYQeP

